PORT=3003
STRIPE_SECRET=

STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

# https://dashboard.stripe.com/acct_1SFKO5LW25CcHI63/test/workbench/webhooks/we_1SFOaJLW25CcHI63voEcH1e4
#este es el signing secret del webhook
STRIPE_ENDPOINT_SECRET=
